
.containeraaa {
    position: relative;
    width: 1200px;
    margin: 0;
    padding: 50px 3%;
    text-align: center;
    display: block;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.activity {
    overflow: hidden;
    text-align: left;
} 
.activity .Info {
    padding: 20px 0 25px;
    position: relative;
    color: #616161;
    
}
.Info p {
    display: block;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 450;
    font-size: 16px;
}
.activity h1 {
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 20px;
}
.activity .Info h1 {
    font-size: 22px;
    color: #2b2b2b;
}
.activity .Info h2 {
    font-size: 18px;
    color: #2b2b2b;
}
.activity .Info h1, .activity .Info h2 {
    font-weight: 700;
}
.activity li {
    float: left;
    width: 46%;
    margin: 0 2%;
    padding-bottom: 20px;
}

ul, li {
    list-style: none;
    outline: none;
}
.activity .Img img {
    width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img, fieldset, iframe {
    border: 0 none;
}
.activity .Info a.btn {
    font-size: 15px;
    color: #fff;
    display: inline-block;
    padding: 7px 20px;
    background: #6699cc;
    position: absolute;
    right: 0;
    top: 17px;
}
@media screen and (max-width: 1200px){
    .containeraaa {
        width: 960px;
        
    }
    }
@media screen and (max-width: 640px){
    .containeraaa {
        width: 98%;
        margin: 0 auto;
        padding: 40px 0;
    }
    .activity li {
        width: 100%;
        margin-right: 0;
    }
    .activity .Info a.btn {
        right: 11px;
    }
}

/*
@media screen and (max-width: 1024px){
.containeraaa {
    width: 768px;
}
}
*/
.notice {
    color: #5a5a5a;
    font-weight: 500;
    margin-top: 30px;
    font-size: 20px;
  }
.no-p {
    color: #9c9c9c;
    font-weight: 250;
    padding-left: 30px;
    margin: 10px 0 0 0;
    font-size: 16px;
  }




