<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="ko">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>LINDSAY</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Lindsay" />
	<meta name="keywords" content="Lindsay" />
	<meta name="author" content="Lindsay" />
 
  <!-- 
	//////////////////////////////////////////////////////

    * history: 2024/03 - 초기작성
    * author: GunWoo LEE
    * version: 1.0

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="Lindsay"/>
	<meta property="og:image" content="Lindsay"/>
	<meta property="og:url" content="Lindsay"/>
	<meta property="og:site_name" content="Lindsay"/>
	<meta property="og:description" content="Lindsay"/>
	<meta name="twitter:title" content="Lindsay" />
	<meta name="twitter:image" content="Lindsay" />
	<meta name="twitter:url" content="Lindsay" />
	<meta name="twitter:card" content="Lindsay" />
	<meta name="format-detection" content="telephone=no"><!--전화문의-->
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'main/images/favicon_32x32.ico' %}">
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'main/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'main/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
	<!-- Superfish -->
	<link rel="stylesheet" href="{% static 'main/css/superfish.css' %}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'main/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<!-- index main -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
 	<!-- lightbox Gallery-->
 	<link rel="stylesheet" href="{% static 'main/css/ekko-lightbox.css' %}" />
	<!-- place-->
	<link rel="stylesheet" href="{% static 'main/css/place.css' %}" />
	</head>
	<body>
		 
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="/main/index">LINDSAY</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a href="/main/first">Home</a></li>
							<li><a href="/main/about">About</a></li>
							<li><a href="/main/gallery">Gallery</a></li>
							<li>
								<a>Reservation</a>
								<ul class="fh5co-sub-menu">
									<li><a href="https://www.wehome.me/rooms/2016267" target="_blank">Korean</a></li>
									<li>
										<a>Foreigner</a>
										<ul class="fh5co-sub-menu">
											<li><a href="https://www.airbnb.co.kr/rooms/1070865783813329519?adults=1&check_in=2024-02-23&check_out=2024-02-24&source_impression_id=p3_1708530963_YcnrRp2oJTNBPZ%2By&previous_page_section_name=1000&federated_search_id=479244a5-5a59-4389-b456-d83814f37455" target="_blank">airbnb</a></li>
											<li><a href="https://www.agoda.com/ko-kr/lindsay/hotel/seoul-kr.html?hotel_id=51486262" target="_blank">Agoda</a></li>
											<li><a href="https://www.booking.com/Share-hXk9auQ" target="_blank">Booking.com</a></li>
										</ul>
									</li>	
								</ul>
							</li>	
							<li>
								<a>Hot Place</a>
								<ul class="fh5co-sub-menu">
									<li><a href="/main/place_food">Food</a></li>
									<li><a href="/main/place_attractions">Attractions</a></li>
								</ul>
							</li>								
							<li><a href="/main/contact">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<!-- end:header-top -->
 


        {% block container %}


        {% endblock container %}
		<!-- fh5co-blog-section -->
		<footer>
			<div id="footer">
				<div class="footer-container">					
					<div>
						<div class="ftmiddle animate-box">
							<!--
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-facebook2"></i></a>
								<a href="#"><i class="icon-instagram"></i></a>
								<a href="#"><i class="icon-dribbble2"></i></a>
								<a href="#"><i class="icon-youtube"></i></a>
							</p>
							-->
							<div class="ftleft ">
								<p>04010 서울특별시 마포구 망원로 76, 4층 (망원동 414-94)</p>
								<p>사업자등록번호: 487-02-03270&nbsp;&nbsp;|&nbsp;&nbsp;E-mail: gwlee1q@gmail.com</p>
								<p><button class="myBtn js-btn-modal" data-id="1">이메일/전화번호 무단 수집금지</button>&nbsp;&nbsp;|&nbsp;&nbsp;Tel: +82 10 7368 9370</p>
								<p><button class="myBtn js-btn-modal" data-id="4">Copyright</button>&nbsp;2024 LINDSAY. All Rights Reserved.</p>
								
							</div>
							<div class="ftright">
								<div class="ftrighta">
									<p class="myBtn js-btn-modal" data-id="2"><img src="{% static 'main/images/wehome_logo.png' %}"></p>
								</div>
								<div class="ftrightb">
									<p class="myBtn js-btn-modal" data-id="3"><img src="{% static 'main/images/stay.png' %}"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modaler" id="modaler"></div><!-- Modal 공통 -->
			<!-- Modal 이메일 시작 -->
			<div class="modalpop js-modal" data-id="hbxmodal1">
				<div class="modaler-content">
					<div class="motop">
						<span class="close">&times;</span>
						<p>이메일, 전화번호 무단 수집 금지</p>
					</div>
					<div class="mobottom">
						<p>저희 "린드세이"는 인터넷 서비스 이용 시 개인정보를 수집하는 장치를 운영하지 않으며, 본 웹사이트에 기재된 개인정보도 이메일 주소와 전화번호를 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 수집되는 것을 거부합니다. 이를 위반 시 정보통신망법에 의해	형사처벌됨을 유념하시기 바랍니다.</p>
					</div>
				</div>
			</div>
			<!-- Modal 이메일 끝 -->
		
			<!-- Modal 위홈 시작 -->
			<div class="modalpop js-modal" data-id="hbxmodal2">
				<div class="modaler-content" id="modaler2-content">
					<div class="motop">
						<span class="close">&times;</span>
						<p>정부가 유일하게 공인한 플랫폼에 등록</p>
					</div>
					<div class="mobottom">
						<p>저희 "린드세이"는 대한민국 정부가 유일하게 공인한 공유숙박 플랫폼인 "위홈"에 정식적으로 등록된 숙박업체입니다. "위홈"은 정부로부터 ICT 규제샌드받스 실증특례 기업으로 지정받은 합법적인 공유숙박 플랫폼입니다.</p>
					</div>
				</div>
			</div>
			<!-- Modal 위홈 끝 -->
		
			<!-- Modal 스테이 시작 -->
			<div class="modalpop js-modal" data-id="hbxmodal3">
				<div class="modaler-content" id="modaler2-content">
					<div class="motop">
						<span class="close">&times;</span>
						<p>서울시 각 자치구에 등록된 "서울스테이"에 등록</p>
					</div>
					<div class="mobottom">
						<p>서울시 각 자치구에 등록한 대체숙박업 브랜드로, 합법적인 숙박업체에 번역, 문패, 운영물품, 홍보마케팅 등 다양한 혜택을 지원해주고 있으며 매년 개최되는 사업설명회, 교육 등의 행사 참가 기회를 주고 있습니다. 저희 "린드세이"도 등록되어 있습니다. </p>
					</div>
				</div>
			</div>
			<!-- Modal 스테이 끝 -->

			<!-- Modal 저작권 시작 -->
			<div class="modalpop js-modal" data-id="hbxmodal4">
				<div class="modaler-content" id="modaler2-content">
					<div class="motop">
						<span class="close">&times;</span>
						<p>저작권 표시</p>
					</div>
					<div class="mobottom">
						<p>Page source 1 : http://freehtml5.co/<br>
						Page source 2 : https://bootstrapthemes.co/<br>
						Page Icon : https://iconmonstr.com/<br><br>
						이외 자체 제작 및 수정</p>
					</div>
				</div>
			</div>
			<!-- Modal 저작권 끝 -->
		</footer>
	</div>
</div>

	
			

		


	<!-- jQuery -->
	<script src="{% static 'main/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'main/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'main/js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'main/js/sticky.js' %}"></script>
	<!-- Stellar -->
	<script src="{% static 'main/js/jquery.stellar.min.js' %}"></script>
	<!-- Superfish -->
	<script src="{% static 'main/js/hoverIntent.js' %}"></script>
	<script src="{% static 'main/js/superfish.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'main/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'main/js/magnific-popup-options.js' %}"></script>
	<!-- Main JS -->
	<script src="{% static 'main/js/main.js' %}"></script>
	<!-- faq JS -->
	<script src="{% static 'main/js/style.js' %}"></script>
	<!-- lightbox Gallery-->
	<script src="{% static 'main/js/ekko-lightbox.min.js' %}"></script>
	<!-- custom js -->
	<script src="{% static 'main/js/custom.js' %}"></script>
	<!-- footer modal JS-->
	<script src="{% static 'main/js/modal.js' %}"></script>
	<!-- Modernizr JS -->
	<script src="{% static 'main/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- contact message -->
	<script src="{% static 'main/js/message.js' %}"></script>
	</body>
</html>

