<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="ko">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>LINDSAY</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Lindsay" />
	<meta name="keywords" content="Lindsay" />
	<meta name="author" content="Lindsay" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="Lindsay"/>
	<meta property="og:image" content="Lindsay"/>
	<meta property="og:url" content="Lindsay"/>
	<meta property="og:site_name" content="Lindsay"/>
	<meta property="og:description" content="Lindsay"/>
	<meta name="twitter:title" content="Lindsay" />
	<meta name="twitter:image" content="Lindsay" />
	<meta name="twitter:url" content="Lindsay" />
	<meta name="twitter:card" content="Lindsay" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'main/images/favicon_32x32.ico' %}">
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'main/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'main/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
	<!-- Superfish -->
	<link rel="stylesheet" href="{% static 'main/css/superfish.css' %}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'main/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<!-- index main -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
 	<!-- lightbox Gallery-->
 	<link rel="stylesheet" href="{% static 'main/css/ekko-lightbox.css' %}" />
	<!-- Modernizr JS -->
	<script src="{% static 'main/js/modernizr-2.6.2.min.js' %}"></script>
	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="/main/index">LINDSAY</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a href="/main/first">Home</a></li>
							<li><a href="/main/about">About</a></li>
							<li><a href="/main/gallery">Gallery</a></li>
							<li>
								<a>Reservation</a>
								<ul class="fh5co-sub-menu">
									<li><a href="https://www.wehome.me/" target="_blank">Korean</a></li>
									<li>
										<a>Foreigner</a>
										<ul class="fh5co-sub-menu">
											<li><a href="https://www.airbnb.co.kr/rooms/1070865783813329519?adults=1&check_in=2024-02-23&check_out=2024-02-24&source_impression_id=p3_1708530963_YcnrRp2oJTNBPZ%2By&previous_page_section_name=1000&federated_search_id=479244a5-5a59-4389-b456-d83814f37455" target="_blank">airbnb</a></li>
											<li><a href="https://www.stayfolio.com/" target="_blank">STAY FOLIO</a></li>
											<li><a href="#" target="_blank">Agoda</a></li>
											<li><a href="#" target="_blank">Booking.com</a></li>
										</ul>
									</li>	
								</ul>
							</li>	
							<li>
								<a>Nearby Hot Place</a>
								<ul class="fh5co-sub-menu">
									<li><a href="#">Food</a></li>
									<li><a href="#">Attractions</a></li>
									<li><a href="#">Market</a></li>
								</ul>
							</li>								
							<li><a href="/main/contact">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<!-- end:header-top -->
 


        {% block container %}


        {% endblock container %}
		<!-- fh5co-blog-section -->
		<footer>
			<div id="footer">
				<div class="container">
					<!--
					<div class="row row-bottom-padded-md">
						<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
							<h3>Services</h3>
							<ul>
								<li><a href="#">Web Development</a></li>
								<li><a href="#">Design Strategy</a></li>
								<li><a href="#">UI/UX Planning</a></li>
								<li><a href="#">Photographer</a></li>
							</ul>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
							<h3>Company</h3>
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Our Team</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Support</a></li>
								<li><a href="#">Career</a></li>
							</ul>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
							<h3>Our Apps</h3>
							<ul>
								<li><a href="#">Mobile Application</a></li>
								<li><a href="#">Online Payment</a></li>
								<li><a href="#">Time Monitoring</a></li>
								<li><a href="#">Andriod Payment Gateway</a></li>
							</ul>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
							<h3>Downloads</h3>
							<ul>
								<li><a href="#">Apple Store</a></li>
								<li><a href="#">Google Play</a></li>
								<li><a href="#">Windows Store</a></li>
							</ul>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
							<h3>Services</h3>
							<ul>
								<li><a href="#">Web Development</a></li>
								<li><a href="#">Design Strategy</a></li>
								<li><a href="#">UI/UX Planning</a></li>
								<li><a href="#">Photographer</a></li>
							</ul>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
							<h3>Connect</h3>
							<ul>
								<li><a href="#">Follow on Twitter</a></li>
								<li><a href="#">Like on Facebook</a></li>
								<li><a href="#">Circle with Google</a></li>
								<li><a href="#">Partner with Linkedin</a></li>
							</ul>
						</div>
					</div>
					-->
					
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<!--
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-facebook2"></i></a>
								<a href="#"><i class="icon-instagram"></i></a>
								<a href="#"><i class="icon-dribbble2"></i></a>
								<a href="#"><i class="icon-youtube"></i></a>
							</p>
							-->
							<p>Adress : 4F, 76, Mangwon-ro, Mapo-gu, Seoul</p>
							<p>Tel : +82 10 7368 9370 / E-mail : gwlee1q@gmail.com </p>
							<p>BRN : 487 - 02 - 03270 / TBCR : No. 2024 - 000034</p>
							<p>Copyright 2024 LINDSAY. All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
		</footer>

	

	</div>
	</div>

	<!-- jQuery -->
	<script src="{% static 'main/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'main/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'main/js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'main/js/sticky.js' %}"></script>
	<!-- Stellar -->
	<script src="{% static 'main/js/jquery.stellar.min.js' %}"></script>
	<!-- Superfish -->
	<script src="{% static 'main/js/hoverIntent.js' %}"></script>
	<script src="{% static 'main/js/superfish.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'main/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'main/js/magnific-popup-options.js' %}"></script>
	<!-- Main JS -->
	<script src="{% static 'main/js/main.js' %}"></script>
	<!-- faq JS -->
	<script src="{% static 'main/js/style.js' %}"></script>
	<!-- lightbox Gallery-->
	<script src="{% static 'main/js/ekko-lightbox.min.js' %}"></script>
	<!-- custom js -->
	<script src="{% static 'main/js/custom.js' %}"></script>
	</body>
</html>

