{% extends './base.html' %}
{% load static %} 
{% block container %}
		<div id="fh5co-contact" class="fh5co-section-gray">
			
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>문의사항</h3>
					</div>
				</div>
				<form action="#">
					<div class="row animate-box">
						<div class="col-md-6">
							<h3 class="section-title"></h3>
							<p>궁금하신 사항을 남겨주시면, 확인 후 연락드리겠습니다.</p>
							<p>또는, 아래로 문의주셔도 됩니다.</p>
							<p><br> </p>
							<ul class="contact-info">
								<li><i class="icon-location-pin"></i>4F, 76, Mangwon-ro, Mapo-gu, Seoul, Republic of Korea</li>
								<li><i class="icon-phone2"></i>+82 10 7368 9370</li>
								<li><i class="icon-mail"></i><a href="#">gwlee1q@gmail.com</a></li>
								<!--<li><i class="icon-globe2"></i><a href="#">www..com</a></li>-->
							</ul>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Name">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="" class="form-control" id="" cols="30" rows="10" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="Send Message" class="btn btn-primary">
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>


		<div class="fh5co-content-section">
			<div class="container">
				<div class="row row-bottom-padded-md">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>FAQ</h3>
					</div>
				</div>
			</div>
	
			<div class="subConWrap animate-box">
			    <div class="cntWrap">
				    <div class="faq-list">
						<div class="faq-q">
							<p class="faqTit">질문</p>
						</div>
						<div class="faq-a">
							<p class="faqCon">답변</p>
						</div>
						<div class="faq-q">
							<p class="faqTit">질문</p>
						</div>
						<div class="faq-a">
							<p class="faqCon">답변</p>
						</div>
						<div class="faq-q">
							<p class="faqTit">질문</p>
						</div>
						<div class="faq-a">
							<p class="faqCon">답변</p>
						</div>
						<div class="faq-q">
							<p class="faqTit">질문</p>
						</div>
						<div class="faq-a">
							<p class="faqCon">답변</p>
						</div>
						<div class="faq-q">
							<p class="faqTit">질문</p>
						</div>
						<div class="faq-a">
							<p class="faqCon">답변</p>
						</div>
			   		</div>
				</div>
			</div>
		</div>
		<!-- END fh5co-contact -->
		



















			
				
		
		<!-- END map -->

		{% endblock container %}