<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LINDSAY</title>
    <meta name="viewport" content="width=768">
    <meta name="description" content="Lindsay" />
    <meta name="keywords" content="Lindsay" />
    <meta name="author" content="Lindsay" />
    <!-- place-->
    <link rel="stylesheet" href="{% static 'main/css/error.css' %}" />
</head>
<body>

    <div class="error">
      <img src="{% static 'main/images/logo_ba_01.png' %}">
    </div>
   	<h1>페이지를 찾을 수 없습니다.</h1>
   	<p>Page is not Found</p>
    <a href="/main/index">Back to the Homepage</a>
  </div>

</body>
</html>