{% extends './base.html' %}
{% load static %} 
{% block container %}
		<div id="fh5co-feature-product" class="fh5co-section-gray">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center heading-section">
						<h3>안녕하세요.</h3>
						<p>방문해주셔서 감사합니다.<br>편안하고 쾌적한 서비스를 제공드리고자<br>3가지 가치를 중점으로 여기겠습니다.</p>
					</div>
				</div> 
				<div class="row row-bottom-padded-md">
					<div class="col-md-12 text-center animate-box">
						<p><img src="{% static 'main/images/logo_f01.jpg' %}" class="img-responsive img-rounded"></p>
					</div>
					
				</div>
				<div class="row row-bottom-padded-md animate-box">
					<div class="col-md-4">
						<div class="feature-text">
							<h3>안전/보안</h3>
							<p>저희 숙소는 '소방시설 설치 및 관리에 관한 법률'에 따라 다양한 안전도구들을 설치했으며, 외부 침입에 대비하여 ADT 캡스(CCTV)를 설치하여 보안을 강화하고 있습니다. 도어락 또한, 최신 스마트 기술이 들어간 제품을 사용하고 있어 비상 시 즉각대응이 가능합니다. 안심하시고 이용해주시기 바랍니다.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-text">
							<h3>프라이빗</h3>
							<p>한 개 층 단독으로 사용합니다. 더 이상 이야기는 하지 않겠습니다.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-text">
							<h3>편리함</h3>
							<p>호스트도 여행을 좋아하고 자주 다니고 있습니다. 그 중 여행의 짐을 챙길때 발생하는 부피와의 싸움! 알고있습니다. 그렇기에 최대한 숙소 내 품목들을 구비해놓았으며 또 구비하고자 많은 생각들을 하고 있습니다. 다만, 일회용품 줄여야하는 탄소배출 저감에 따라 다른 좋은 방법들을 찾고 있습니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	
		
		<div class="fh5co-content-section">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Our Gallery</h3>
						<p>숙소 사진입니다.</p>
					</div>
				</div>

				
				<div class="row row-bottom-padded-md animate-box">
					<div class="col-md-12">
						<ul id="fh5co-portfolio-list">

							<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/main/images/ki_01.jpg); ">
								<div class="color-3">
									<div class="case-studies-summary">
										<span></span>
										<h2></h2>
									</div>
								</div>
							</li>
						
							<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/main/images/to_04.jpg); ">
								<div class="color-4">
									<div class="case-studies-summary">
										<span></span>
										<h2></h2>
									</div>
								</div>
							</li>

							<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/main/images/wa_01.jpg); "> 
								<div class="color-5">
									<div class="case-studies-summary">
										<span></span>
										<h2></h2>
									</div>
								</div>
							</li>
							<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/main/images/tw_01.jpg); ">
								<div class="color-6">
									<div class="case-studies-summary">
										<span></span>
										<h2></h2>
									</div>
								</div>
							</li>
						</ul>		
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-4 text-center animate-box">
						<a href="/main/gallery" class="btn btn-primary btn-lg">More Gallery</a>
					</div>
				</div>

				
			</div>
		</div>
		

		<div id="fh5co-portfolio" class="fh5co-section-gray">
		
			<div class="container">
				<div class="row row-bottom-padded-md">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Blind Review</h3>
						<p>무작위로 선정되신 분들께서 이용하신 후 남겨주신 후기입니다.</p>
					</div>
				</div>
			</div>
			<div class="container">

				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-team text-center service animate-box">
							<figure>
								<img src="{% static 'main/images/iconmonstr-generation-8-240.png' %}" alt="user">
							</figure>
							<p>넓고 무엇보다 깔끔했어요. <br> <span class="text-mute">구 X X 님</span></p>
							<blockquote>
								<p>"친구들과 호캉스 즐기려다 들렸습니다.<br>방은 2개 화장실도 2개 거실과 주방이 각각 있어요. 한개 층을 단독으로 사용하는거라 다른 게스트 눈치도 안보고 주변에 의료시설이 많아서 여행간에 각종질병도 금방 사라질 것 같아요."</p>
							</blockquote>
							

						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-team text-center service animate-box">
							<figure>
								<img src="{% static 'main/images/iconmonstr-generation-7-240.png' %}" alt="user">
							</figure>
							<p>숙박하기 좋은 숙소입니다.<br> <span class="text-mute">데이비드 X X 님</span></p>
							<blockquote>
								<p>"숙소는 과거와 현대가 공존하는거 같아요.<br>그리고, 문을 열고 들어서자마자 나는 좋은 향기와 깔끔함에 놀랐어요. 호스트분도 너무 친절하시고 몇가지 피드백 해드렸는데 그것만 되면 핫한 곳이 될 것 같습니다."</p>
							</blockquote>
							
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-team text-center service animate-box">
							<figure>
								<img src="{% static 'main/images/iconmonstr-construction-3-240.png' %}" alt="user">
							</figure>
							<p>가족과 함께 지내기 좋은곳입니다. <br> <span class="text-mute">하세가와 X X 님</span></p>
							<blockquote>
								<p>"가족끼리 이용했습니다. <br>가성비가 좋고, 전통시장이 바로 앞에 있어 저처럼 한국 전통에 관심이 있는 사람에게 딱 좋아요. 홍대로 이동하기에도 지리적으로 좋았습니다." </p>
							</blockquote>
							
						</div>
					</div>
				</div>
			</div>
		</div>

	{% endblock container %}