{% extends './base.html' %}
{% load static %} 
{% block container %}
<div id="fh5co-portfolio" class="fh5co-section-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>Our Gallery(In Side)</h3>
				<p>숙소 내부 사진입니다.</p>
			</div>
		</div>
		
		 
		<div class="gallery_section layout_padding">
			<div class="container-fluid">
				<div class="rowaa animate-box">


					<div class="galleryimga">
						<div class="img-box">
							<img src="{% static 'main/images/gallery/g0.jpg' %}">
							<a href="{% static 'main/images/gallery/g0.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
						 	<i class="fa fa-picture-o" aria-hidden="true">Click</i>
							</a>
					  	</div>
						<div class="img-boxa">
							<img src="{% static 'main/images/gallery/g1.jpg' %}" alt="">
							<a href="{% static 'main/images/gallery/g1.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
						    <i class="fa fa-picture-o" aria-hidden="true">Click</i>
							</a>
					  	</div>
					</div>

					<div class="galleryimgb">
				        <div class="img-box">
							<img src="{% static 'main/images/gallery/g2.jpg' %}" alt="">
							<a href="{% static 'main/images/gallery/g2.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
							</a>
						</div>
						<div class="img-boxa">
							<img src="{% static 'main/images/gallery/g3.jpg' %}" alt="">
							<a href="{% static 'main/images/gallery/g3.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
							</a>
					    </div>
						<div class="img-boxa">
							<img src="{% static 'main/images/gallery/g4.jpg' %}" alt="">
							<a href="{% static 'main/images/gallery/g4.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
					 		<i class="fa fa-picture-o" aria-hidden="true">Click</i>
							</a>
						</div>
					</div>

					<div class="galleryimgc">
					    <div class="img-box">
							<img src="{% static 'main/images/gallery/g5.jpg' %}" alt="">
							<a href="{% static 'main/images/gallery/g5.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							  <i class="fa fa-picture-o" aria-hidden="true">Click</i>
							</a>
						</div>
					</div>

					<div class="galleryimgc">
						<div class="img-box">
						    <img src="{% static 'main/images/gallery/g6.jpg' %}" alt="">
							<a href="{% static 'main/images/gallery/g6.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
					        </a>
						</div>
					</div>

					<div class="galleryimga">
						<div class="img-box">
				 			<img src="{% static 'main/images/gallery/g7.jpg' %}">
						    <a href="{% static 'main/images/gallery/g7.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
						    </a>
						</div>
						<div class="img-boxa">
							  <img src="{% static 'main/images/gallery/g8.jpg' %}" alt="">
							  <a href="{% static 'main/images/gallery/g8.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
				    		</a>
						</div>
					</div>

					<div class="galleryimgb">
						<div class="img-box">
						  <img src="{% static 'main/images/gallery/g9.jpg' %}" alt="">
						  <a href="{% static 'main/images/gallery/g9.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
						  </a>
						</div>
						<div class="img-boxa">
						  <img src="{% static 'main/images/gallery/g10.jpg' %}" alt="">
						  <a href="{% static 'main/images/gallery/g10.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
						  </a>
						</div>
						<div class="img-boxa">
						  <img src="{% static 'main/images/gallery/g11.jpg' %}" alt="">
						  <a href="{% static 'main/images/gallery/g11.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
						  </a>
						</div>
					</div>

					<div class="galleryimgb">
						<div class="img-box">
						  <img src="{% static 'main/images/gallery/g12.jpg' %}" alt="">
						  <a href="{% static 'main/images/gallery/g12.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
						  </a>
						</div>
						<div class="img-boxa">
						  <img src="{% static 'main/images/gallery/g13.jpg' %}" alt="">
						  <a href="{% static 'main/images/gallery/g13.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
						  </a>
						</div>
						<div class="img-boxa">
						  <img src="{% static 'main/images/gallery/g14.jpg' %}" alt="">
						  <a href="{% static 'main/images/gallery/g14.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
						  </a>
						</div>
					</div>

					<div class="galleryimgc">
						<div class="img-box">
						  <img src="{% static 'main/images/gallery/g15.jpg' %}" alt="">
						  <a href="{% static 'main/images/gallery/g15.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
						  </a>
						</div>
					</div>

					<div class="galleryimga">
						<div class="img-box">
						  <img src="{% static 'main/images/gallery/g16.jpg' %}">
						  <a href="{% static 'main/images/gallery/g16.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
						  </a>
						</div>
						<div class="img-boxa">
						  <img src="{% static 'main/images/gallery/g17.jpg' %}" alt="">
						  <a href="{% static 'main/images/gallery/g17.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
						  </a>
						</div>
					</div>

					<div class="galleryimgb">
						<div class="img-box">
						  <img src="{% static 'main/images/gallery/g18.jpg' %}" alt="">
						  <a href="{% static 'main/images/gallery/g18.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
						  </a>
						</div>
						<div class="img-boxa">
						  <img src="{% static 'main/images/gallery/g19.jpg' %}" alt="">
						  <a href="{% static 'main/images/gallery/g19.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
						  </a>
						</div>
						<div class="img-boxa">
						  <img src="{% static 'main/images/gallery/g20.jpg' %}" alt="">
						  <a href="{% static 'main/images/gallery/g20.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
						  </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		


<div class="fh5co-content-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>Our Gallery(Out Side)</h3>
				<p>숙소 외부 사진입니다.</p>
			</div>
		</div>
		
		 
		<div class="gallery_section layout_padding">
			<div class="container-fluid">
				<div class="rowaa animate-box">


					<div class="galleryimga">
						<div class="img-box">
							<img src="{% static 'main/images/gallery/g0.jpg' %}">
							<a href="{% static 'main/images/gallery/g0.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
						 	<i class="fa fa-picture-o" aria-hidden="true">Click</i>
							</a>
					  	</div>
						<div class="img-boxa">
							<img src="{% static 'main/images/gallery/g1.jpg' %}" alt="">
							<a href="{% static 'main/images/gallery/g1.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
						    <i class="fa fa-picture-o" aria-hidden="true">Click</i>
							</a>
					  	</div>
					</div>

					<div class="galleryimgb">
				        <div class="img-box">
							<img src="{% static 'main/images/gallery/g2.jpg' %}" alt="">
							<a href="{% static 'main/images/gallery/g2.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
							</a>
						</div>
						<div class="img-boxa">
							<img src="{% static 'main/images/gallery/g3.jpg' %}" alt="">
							<a href="{% static 'main/images/gallery/g3.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							<i class="fa fa-picture-o" aria-hidden="true">Click</i>
							</a>
					    </div>
						<div class="img-boxa">
							<img src="{% static 'main/images/gallery/g4.jpg' %}" alt="">
							<a href="{% static 'main/images/gallery/g4.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
					 		<i class="fa fa-picture-o" aria-hidden="true">Click</i>
							</a>
						</div>
					</div>

					<div class="galleryimgc">
					    <div class="img-box">
							<img src="{% static 'main/images/gallery/g5.jpg' %}" alt="">
							<a href="{% static 'main/images/gallery/g5.jpg' %}" data-toggle="lightbox" data-gallery="gallery">
							  <i class="fa fa-picture-o" aria-hidden="true">Click</i>
							</a>
						</div>
					</div>

					


				</div>
			</div>
		</div>
	</div>
</div>

{% endblock container %}

