

<!DOCTYPE html>
 <html class="no-js" lang="ko">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>LINDSAY</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Lindsay" />
	<meta name="keywords" content="Lindsay" />
	<meta name="author" content="Lindsay" />


  <!-- 
	//////////////////////////////////////////////////////

    * history: 2024/03 - 초기작성
    * author: GunWoo LEE
    * version: 1.0

	//////////////////////////////////////////////////////
	 -->


  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="Lindsay"/>
	<meta property="og:image" content="Lindsay"/>
	<meta property="og:url" content="Lindsay"/>
	<meta property="og:site_name" content="Lindsay"/>
	<meta property="og:description" content="Lindsay"/>
	<meta name="twitter:title" content="Lindsay" />
	<meta name="twitter:image" content="Lindsay" />
	<meta name="twitter:url" content="Lindsay" />
	<meta name="twitter:card" content="Lindsay" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="/static/main/images/favicon_32x32.ico">
	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/main/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/main/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/static/main/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="/static/main/css/superfish.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/static/main/css/magnific-popup.css">
	<link rel="stylesheet" href="/static/main/css/style.css">
	<!-- index main -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
	<!-- Modernizr JS -->
	<script src="/static/main/js/modernizr-2.6.2.min.js"></script>

	</head> 
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
	
		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(/static/main/images/bgbg_01.jpg); background-size:cover;">
				<div class="desc">
					<div class="container">
						<div class="col-md-10 col-md-offset-1">
							<!--<a href="#" id="main-logo">Logo</a>-->
							<div class="lindsaymain">
								<h6>Adventure is worthwhile in itself.</h6>
								<div id="add77">- Saint Augustine -</div>								
								<p><a class="btn btn-primary btn-lg" href="/main/first">Get Started</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- jQuery -->


	<script src="/static/main/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/main/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/main/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/main/js/jquery.waypoints.min.js"></script>
	<script src="/static/main/js/sticky.js"></script>

	<!-- Stellar -->
	<script src="/static/main/js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="/static/main/js/hoverIntent.js"></script>
	<script src="/static/main/js/superfish.js"></script>
	<!-- Magnific Popup -->
	<script src="/static/main/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/main/js/magnific-popup-options.js"></script>
	
	<!-- Main JS -->
	<script src="/static/main/js/main.js"></script>

	</body>
</html>