{% extends './base.html' %}
{% load static %}

{% block container %}
<div class="container">
  <div class="activity">	
      <h1>1. 쇼핑</h1>			
              <ul>                	
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_01.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>신라면세점</h1>
               <p>주소 : 서울특별시 중구 동호로 249</p>
               <p>전화번호 : 1688~1110</p>
            <p>이용시간 : 09:00~20:30(연중무휴)</p>
               <p>가는방법 : 호텔에서 좌측 도보 10분 거리 (3호선 동대입구역 방향)</p>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_02.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>롯데피트인</h1>
               <p>주소 : 서울특별시 중구 을지로 264</p>
               <p>전화번호 : 02-6262-4000</p>
            <p>이용시간 : 11:00AM~ 23:00PM (추석,설날 휴무)</p>
               <p>가는방법 : 호텔에서 우측 도보 5분 직진 (사거리 횡단보도 스타벅스 방향 이용)</p>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_03.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>APM Place</h1>
               <p>주소 : 서울특별시 중구 장충단로 253</p>
               <p>전화번호 : 02-6388-1135</p>
            <p>이용시간 : 월~금 10:30AM~ 04:00AM (매주화요일 정기휴무, 추석/설날 당일 휴무)</p>
               <p>가는방법 : 호텔에서 우측 도보 5분 직진 (사거리 횡단보도 방향)</p>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_04.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>밀리오레</h1>
               <p>주소: 서울특별시 중구 장충단로 263</p>
               <p>전화번호 : 02-3393-0293</p>
            <p>이용시간 : 10:30 ~ 04:30(월요일 휴무)</p>
               <p>가는방법 : 호텔에서 우측 도보 5분 거리 (사거리 횡단보도 스타벅스 방향 이용)</p>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_05.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>두타몰(면세점)</h1>
               <p>주소 : 서울특별시 중구 장충단로 263</p>
               <p>전화번호 : 02-3398-3114</p>
            <p>이용시간 : 10:30 am – 23:00pm (연중무휴)</p>
               <p>가는방법 : 호텔에서 우측 도보 10분 거리</p>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_06.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>현대시티아울렛</h1>
               <p>주소 : 서울특별시 중구 장충단로13길 20</p>
               <p>전화번호 : 02-2283-2233</p>
            <p>이용시간 : 월~목 11:00am~ 22:30, 금~일11:00am~22:30pm</p>
               <p>가는방법 : 호텔에서 도보 15분 거리(두타몰 왼편)</p>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_07.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>평화시장</h1>
               <p>주소 : 서울특별시 중구 청계천로 274</p>
               <p>전화번호 : 02-2265-3531</p>
            <p>이용시간 : 22:00 pm ~18:00 pm (일요일 휴무)</p>
               <p>가는방법 : 호텔에서 도보 15분 거리 (청계천 바로 건너편)</p>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_08.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>명동</h1>
            <p>이용시간 :  연중무휴 (각 상점마다 상이함) </p>
               <p>가는방법 : 동대문역사문화공원역 지하철4호선 명동역 / 2호선 을지로입구역</p>
             </div>
           </li>
         </ul> 
          </div>
          <div class="activity">	
      <h1>2. 관광</h1>				
              <ul>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_09.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>동대문디자인프라자(DDP)</h1>
               <h2>2014년 3월 21일 개관된 세계최대 규모의 3차원 비정형 건축물</h2>
               <p>주소 : 서울 중구 을지로 281</p>
               <p>전화번호 : 02-2153-0000 </p>
            <p>이용시간 : 매일 09:00am~ 22:00pm</p>
               <p>가는방법 : 써미트호텔 정문으로 나와 오른쪽 350미터 직진</p>
               <a href="http://www.ddp.or.kr" class="btn" target="_blank">홈페이지&nbsp;&nbsp;></a>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_10.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>낙산공원(대학로)</h1>
               <h2>서울 성곽길을 따라 서울 도심을 한눈에 볼 수 산책 공간</h2>
               <p>주소 : 서울 종로구 낙산길 41</p>
               <p>전화번호 : 02-2153-0000 </p>
            <p>볼거리 : 낙산전시관, 이화벽 마을 (벽에 그려진 그림과 기념 촬영)</p>
               <p>가는방법 : 써미트호텔에서 4호선 이용하여 혜화역 하차 2번출구에서 도보 10분</p>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_11.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>서울N타워(남산)</h1>
               <p>주소 : 서울 용산구 남산공원 길 105</p>
               <p>관람시간 : 월~금/일 10:00~23:00, 토 10:00~24:00</p>
            <p>입장료 : 대인 10,000원 / 소인 8,000원</p>
            <p>가는방법 : 호텔 정문으로 나와 왼쪽 동대입구 사거리 건너 장충단공원 가로질러 도보 1시간 30분</p>
            <p>순환버스 : 장충단공원 대로변 버스정류장 이용 (02 03번 남산순환버스)</p>
            <p>케이블카(곤돌라) : 지하철4호선 명동역 1번출구 도보 10분</p>
            <a href="www.seoultower.co.kr/" class="btn" target="_blank">홈페이지&nbsp;&nbsp;></a>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_12.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>남산골한옥마을</h1>
               <p>주소 : 서울 중구 퇴계로34길 28 </p>
               <p>이용시간 : 4월~10월: 09:00~21:00, <br>11월~3월: 09:00~20:00 (매주 월요일 휴관/정원 24시 개방)</p>
               <p>가는방법 : 써미트호텔에서 4호선 이용하여 충무로역 하차 3번출구에서 도보 5분</p>
               <a href="https://www.hanokmaeul.or.kr" class="btn" target="_blank">홈페이지&nbsp;&nbsp;></a>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_13.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>경복궁</h1>
               <p>주소: 서울특별시 종로구1,2,3,4가동 사직로 161 </p>
               <p>관람시간안내 : 매주 화요일 휴관<br>
               - 11월~2월 : 09:00~17:00(입장마감 16:00)<br>
            - 3월~5월, 9~10월 : 09:00~18:00(입장마감 17:00)<br> 
            - 6월~8월 : 09:00~18:30(입장마감 17:30)<br>   					
               </p>
               <p>입장료 : 대인 3,000원, 소인 1,500원</p>
            <p>가는방법 : 써미트호텔에서 3호선 이용하여 경복궁역 하차 4번출구에서 도보 5분</p>
            <a href="http://www.royalpalace.go.kr" class="btn" target="_blank">홈페이지&nbsp;&nbsp;></a>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_14.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>창덕궁</h1>
               <p>주소 : 서울 종로구 율곡로 99 </p>
               <p>관람시간안내 : (매주 월요일 휴관)<br>
               -2월~5월 & 9월~10월: 09:00 ~18:00<br> 
            -6월~8월 : 09:00~18:30 -11월~1월 : 09:00~17:30<br>
               </p>
               <p>입장료 : 대인 5,000원 ,소인 2,500원</p>
            <p>가는방법 : 써미트호텔에서 3호선 이용하여 안국역 하차 3번출구에서 도보 10분</p>
            <a href="http://www.cdg.go.kr" class="btn" target="_blank">홈페이지&nbsp;&nbsp;></a>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_15.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>덕수궁</h1>
               <p>주소 : 서울 중구 세종대로 99 덕수궁</p>
               <p>관람시간안내 : 09:00~ 20:00 (월요일 휴관)</p>
               <p>입장료 : 1,000원 </p>
            <p>볼거리 : 돌담길, 야간개장</p>
               <p>가는방법 : 써미트호텔에서 2호선 이용하여 시청역 하차 3번출구에서 도보 5분</p>
               <a href="http://www.deoksugung.go.kr" class="btn" target="_blank">홈페이지&nbsp;&nbsp;></a>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_16.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>청계천</h1>
               <h2>서울의 한복판인 종로구와 중구와의 경계를 흐르는 하천.</h2>
               <p>볼거리 : 등불축제(매년 11월쯤), 밤도깨비 야시장<br>(주말 open- 토요일: 17:00~22:00 / 일요일: 16:00~21:00</p>
               <p>가는방법 : 써미트호텔에서 도보 20분, 써미트호텔에서 4호선 동대문역 하차 8번출구에서 도보 2분</p>
             </div>
           </li>		   			
         </ul>
          </div>
          <div class="activity">	
      <h1>3. 먹거리</h1>				
              <ul>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_17.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>평양면옥</h1>
               <h2>장충동에서 3대째 평양냉면의 전통을 이어오고 있는 평양면옥 </h2>
               <p>대표메뉴 : 평양냉면, 수육</p>
            <p>주소 : 서울 중구 장충단로 207 </p>
            <p>이용시간 : 11:00~21:30</p>
            <p>가는방법 : 써미트 호텔 정문에서 건너 우측으로 도보 2분(150m)</p>
            <a href="https://pyungyangmyunok.modoo.at/" class="btn" target="_blank">홈페이지&nbsp;&nbsp;></a>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_18.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>태극당</h1>
               <h2>73년의 역사를 가진 서울 최초의 빵집</h2>
               <p>대표메뉴 : 사라다빵, 모나카아이스크림, 단팥빵 </p>
            <p>주 소 : 서울 중구 동호로24길 7</p>
            <p>이용시간 : 08:00~22:30</p>
            <p>가는방법 : 써미트 호텔 정문에서 건너 좌측으로 도보 4분(350m)</p>
            <a href="http://www.taegeukdang.com/" class="btn" target="_blank">홈페이지&nbsp;&nbsp;></a>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_19.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>장충동 족발골목</h1>
               <h2>장충동 하면 가장 유명한 족발, 원조 족발집이 가장 많이 몰려 있는 장충동 족발골목</h2>
               <p>대표메뉴 : 족발, 쟁반국수</p>
            <p>주소 : 서울 중구 장충단로 176</p>
            <p>이용시간 : 00:00~24:00</p>
            <p>가는방법 : 써미트 호텔 도보 3분(230m)</p>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_20.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>서울 밤도깨비 야시장</h1>
               <h2>청년예술가와 음악이 함께하는 트렌디한 야시장,<br>DDP의 야경을 배경으로 즐기는 맛있는 음식과 음악, 패션</h2>
               <p>대표메뉴 : 푸드트럭</p>
            <p>주소 : 서울시 중구 을지로 281 DDP </p>
            <p>이용시간 : 매년 4월~10월 매주 금요일, 토요일 18:00~23:00 </p>
            <p>가는방법 : 써미트 호텔 도보 3분(230m)</p>
               <a href="https://www.bamdokkaebi.org/" class="btn" target="_blank">홈페이지&nbsp;&nbsp;></a>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_21.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>광장시장</h1>
               <h2>100년의 역사를 간직한 재래시장의 대명사, 먹거리와 볼거리가 가득한 광장시장</h2>
               <p>대표메뉴 : 녹두빈대떡, 마약김밥, 육회</p>
            <p>주소 : 서울특별시 종로구 창경궁로 88</p>
            <p>이용시간 : 10:00~23:00</p>
            <p>가는방법 : 호텔에서 좌측으로 도보 2분 근처 신세계 남산 건물 앞 버스정류장 7212번 버스 이용 후 광장시장 정류장 하차 (약 15분)</p>
               <a href="http://www.kwangjangmarket.co.kr/" class="btn" target="_blank">홈페이지&nbsp;&nbsp;></a>
             </div>
           </li>
           <li>
             <div class="Img">
               <img src="/Summithotel_common/images/homepage/information/information_22.jpg" alt="" />
             </div>
             <div class="Info">
               <h1>동대문 닭한마리 골목</h1>
               <h2>닭 한마리를 통째로 끓이는 대표 건강식</h2>
               <p>주소 : 서울시 종로구 종로 40가길 </p>
            <p>이용시간 : 10:00~23:00</p>
            <p>가는 방법 : 지하철 4호선 동대문역 10번출구, 도보 5분 또는 버스 100번 종로 5가 하차, 도보 5분</p>
             </div>
           </li>		   			
         </ul>
          </div>
  </div>

{% endblock container %}