{% extends './base.html' %}
{% load static %}

{% block container %}
<div id="fh5co-portfolio" class="fh5co-section-gray">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>Hot Place - Food</h3>
				<p>주변 맛집입니다.</p>
        <p>직접 먹어본 곳만 소개드리고 있습니다.</p>
			</div>
		</div>
      <div class="containerpla">


        <div class="activity animate-box">
          <h1>1. 베이글</h1>
          <ul>
            <li>
              <div class="Img">
                <img src="{% static 'main/images/review/ur_1.jpg' %}" alt="어글리베이커리" />
              </div>
              <div class="Info">
                <h2>uglybakery</h2>
                <h3>베이글러들의 성지! 절대 한 번만 먹을 순 없다!</h3>
                <p>주소 : 서울 마포구 월드컵로13길 73 1층</p>
                <p>전화번호 : 02-338-2018</p>
                <p>이용시간 : 12:00~21:00(매주 월·화요일 휴무)</p>
                <p>감동의 대파빵! 부드러운 얼그레이 크림빵! 그리고 최애 흑임자 맘모스!!!! 줄서서 기다려도 간다! 기본적으로 20~30분정도 기다리고 인스타그램에서 날마다 나오는 베이글을 확인하셔야 합니다. 곧 초코 크림빵 도전!!!</p>
                <a href="http://www.instagram.com/uglybakery" class="btn" target="_blank">instagram</a>
              </div>
            </li>
            <li>
              <div class="Img">
                <img src="{% static 'main/images/review/brick_1.jpg' %}" alt="브릭베이글" />
              </div>
              <div class="Info">
                <h2>brick bagel</h2>
                <h3>망원동에 오셨으면 무조건 가셔야지요!</h3>
                <p>주소 : 서울 마포구 동교로 43-1</p>
                <p>전화번호 : 010-3898-1128</p>
                <p>이용시간 : 12:00~20:00(매주 화·수·목요일 휴무)</p>
                <p>아직도 안가셨다고요? 이런.....어서 빨리가세요. 항상 먹은날 밤에 잘려고 누워있으면 샌드의 냄새가 계속나서 킁킁거린다는! 초코바나나 딱 기달! 아 그리고 두 팀씩 입장하니까 복잡하지도 않아서 좋아요!</p>
                <a href="https://www.instagram.com/brick.bagel" class="btn" target="_blank">instagram</a>
              </div>
            </li>
          </ul> 
        </div>

        
        <div class="activity animate-box">
          <h1>2. 카페</h1>	
          <ul>                	
            <li>
              <div class="Img">
                <img src="{% static 'main/images/review/hica_1.jpg' %}" alt="히카" />
              </div>
              <div class="Info">
                <h2>HICA</h2>
                <h3>잘 안마시는 커피, 여기서 2잔 마셨어요!</h3>
                <p>주소 : 서울 마포구 망원로 62-1 1층</p>
                <p>전화번호 : 02-6396-9544</p>
                <p>이용시간 : 12:00~20:30(매주 목요일 휴무)</p>
                <p>케이크는 아직 안먹어봤어요. 근데 완전 사야될 것 같은 비주얼이에요. 나중에 먹어보고 추가할께요. 커피는 제가 잘 안마시는데 여기는 처음 2잔 연속으로 마셨고, 가능한 자주가려고하는 곳이에요. 내부 인테리어도 여행자들한테 딱인 곳이에요!</p>
                <a href="https://pf.kakao.com/_UEXxnK" class="btn" target="_blank">instagram</a>
              </div>
            </li>
            <li>
              <div class="Img">
                <img src="{% static 'main/images/review/capet_1.jpg' %}" alt="" />
              </div>
              <div class="Info">
                <h2>capet</h2>
                <h3>기본 커피도 맛있지만 번초코 이놈 물건일세!</h3>
                <p>주소 : 서울 마포구 동교로9길 72</p>
                <p>전화번호 : 02-336-5712</p>
                <p>이용시간 : 11:30~21:30(연중무휴)</p>
                <p>달달한 초코라인들을 진짜 좋아하는데, 여기는 개인적으로 티라미수도 맛있지만 단연코 추천은 번초코!!! 하...이런거는 막 리터 단위로 팔고 그러면 좋을텐데......안되겠죠ㅜㅜ</p>
                <a href="http://instagram.com/capet_coffeeworks" class="btn" target="_blank">instagram</a>
              </div>
            </li>
          </ul> 
        </div>



        <div class="activity animate-box">
          <h1>3. 음식점</h1>	
          <ul>                	
            <li>
              <div class="Img">
                <img src="{% static 'main/images/review/kit_1.jpg' %}" alt="키친갈매기" />
              </div>
              <div class="Info">
                <h2>키친갈매기</h2>
                <h3>다음 계절에는 어떤 메뉴가 나올까?</h3>
                <p>주소 : 서울 마포구 포은로 73 2층</p>
                <p>전화번호 : 0507-1427-7984</p>
                <p>이용시간 : 12:00~14:30, 17:00~19:00(매주 일·월요일 휴무)</p>
                <p>메인 메뉴 먹으면서 카키후라이(굴튀김)를 먹었는데요, 와 굴이 씨알도 굴고 와 비린내가 안나면서 이렇게 맛있다니! 그리고 여기는 스키야끼 일단 드셔보세요! 소고기 살이 오!!!!! 와!!!!!! 입에서 녹는다 녹아!!! 미니화로에 같이 나와서 따뜻하게 맛이게 먹을 수 있답니다. 계절마다 바뀐다니 자주 가야죠!!</p>
                <a href="https://www.instagram.com/galmegi_kitchen" class="btn" target="_blank">instagram</a>
              </div>
            </li>
            <li>
              <div class="Img">
                <img src="{% static 'main/images/review/chu_1.jpg' %}" alt="청아라 생선구이" />
              </div>
              <div class="Info">
                <h2>청아라 생선구이</h2>
                <h3>망원동 생선구이는 무조건 여기로!!!</h3>
                <p>주소 : 서울특별시 마포구 망원로 52</p>
                <p>전화번호 : 02-324-9295</p>
                <p>이용시간 : 11:00~15:00, 17:00~20:30(매주 일요일 휴무)</p>
                <p>전 여기서 무조건 밥 두 공기 먹어요! 고등어무조림 완전 맛있어요 갈치무조림은 더더더더더 맛있어요! 대체적으로 여기 음식은 다 맛있어요 확실히! 조림에서 생선먹고나서 남는 양념...집에 가져가서 먹고 싶을 정도에요!!! 생선이 부드럽고 냄새 없게 하기 힘든데 여기는 냄새도 안나고 살도 완전 부드러워요!</p>
                <a href="https://cal7.modoo.at/" class="btn" target="_blank">Homepage</a>
              </div>
            </li>
          </ul> 

          <ul>                	
            <li>
              <div class="Img">
                <img src="{% static 'main/images/review/hwang_1.jpg' %}" alt="황금룡" />
              </div>
              <div class="Info">
                <h2>황금룡</h2>
                <h3>짬뽕 맛이 다 같다고 누가 그래요!</h3>
                <p>주소 : 서울 마포구 포은로 90</p>
                <p>전화번호 : 02-324-0442</p>
                <p>이용시간 : 11:00~20:30(매주 수요일 휴무)</p>
                <p>보통의 짬뽕면은 그냥 밀가루 맛인데 여기는 아녜요. 국물과 면이 하나로 합쳐진 조화로운 그 맛! 짜장면도 특별한 무언가를 넣은거 같기도 하고 아닌것 같은데 맛이 너무 괜찮더라고요. 그리고 탕수육이 빠지면 안되겠죠, 여기 탕수육은 바삭하고 맛있는데 부먹으로 나와서 아쉬웠어요 나중에는 따로 달라고 해야겠어요!(탕수육은 찍먹!^^)</p>
              </div>
            </li>
            <li>
              <div class="Img">
                <img src="{% static 'main/images/review/hey_1.jpg' %}" alt="헤이로라" />
              </div>
              <div class="Info">
                <h2>Hey Laura</h2>
                <h3>미쿡 스톼일~ 수제버거!</h3>
                <p>주소 : 서울 마포구 포은로 112</p>
                <p>전화번호 : 0507-1466-1996</p>
                <p>이용시간 : 12:00~15:30, 17:00~20:30(연중무휴)</p>
                <p>버거 육즙이 팡팡! 번은 입에 들어가면 스르르 녹아요. 진짜 미국에 체인점해도 되겠는데요? 사진도 카메라로 막 찍어도 비주얼이 와!!! 보정을 따로 안해도 맛있게 보여요. 인테리어도 밖을 안보고 안에만 있으면 해외로 온 느낌으로 꾸미셨어요! 그리고 보통 감자튀김만 있을텐데 여기는 고구마 튀김도 있어요 제가 감자튀김을 싫어하는데 고구마는 완전 맛있어요!!</p>
                <a href="https://www.instagram.com/hey_laura_official" class="btn" target="_blank">instagram</a>
              </div>
            </li>
          </ul> 
        </div>


      </div>
    </div>


{% endblock container %}