{% extends './base.html' %}
{% load static %}

{% block container %}
<div id="fh5co-portfolio" class="fh5co-section-gray">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>Hot Place - Attractions</h3>
				<p>주변 가 볼만한 장소입니다.</p>
			</div>
		</div>
      <div class="containeraaa">

        <div class="activity animate-box">	
          <ul>                	
            <li>
              <div class="Img">
                <img src="{% static 'main/images/gallery/g0.jpg' %}" alt="" />
              </div>
              <div class="Info">
                <h1>신라면세점</h1>
                <h2>서울의 한복판인 종로구와 중구와의 경계를 흐르는 하천.</h2>
                <p>주소 : 서울특별시 중구 동호로 249</p>
                <p>전화번호 : 1688~1110</p>
                <p>이용시간 : 09:00~20:30(연중무휴)</p>
                <p>가는방법 : 호텔에서 좌측 도보 10분 거리 (3호선 동대입구역 방향)</p>
                <a href="http://www.deoksugung.go.kr" class="btn" target="_blank">홈페이지</a>
              </div>
            </li>
            <li>
              <div class="Img">
                <img src="{% static 'main/images/gallery/g0.jpg' %}" alt="" />
              </div>
              <div class="Info">
                <h1>롯데피트인</h1>
                <h2>서울의 한복판인 종로구와 중구와의 경계를 흐르는 하천.</h2>
                <p>주소 : 서울특별시 중구 을지로 264</p>
                <p>전화번호 : 02-6262-4000</p>
                <p>이용시간 : 11:00AM~ 23:00PM (추석,설날 휴무)</p>
                <p>가는방법 : 호텔에서 우측 도보 5분 직진 (사거리 횡단보도 스타벅스 방향 이용)</p>
                <a href="http://www.deoksugung.go.kr" class="btn" target="_blank">홈페이지</a>
              </div>
            </li>
          </ul> 
        </div>

      
        <div class="activity animate-box">	
          <ul>                	
            <li>
              <div class="Img">
                <img src="{% static 'main/images/gallery/g0.jpg' %}" alt="" />
              </div>
              <div class="Info">
                <h1>신라면세점</h1>
                <h2>서울의 한복판인 종로구와 중구와의 경계를 흐르는 하천.</h2>
                <p>주소 : 서울특별시 중구 동호로 249</p>
                <p>전화번호 : 1688~1110</p>
                <p>이용시간 : 09:00~20:30(연중무휴)</p>
                <p>가는방법 : 호텔에서 좌측 도보 10분 거리 (3호선 동대입구역 방향)</p>
                <a href="http://www.deoksugung.go.kr" class="btn" target="_blank">홈페이지</a>
              </div>
            </li>
            <li>
              <div class="Img">
                <img src="{% static 'main/images/gallery/g0.jpg' %}" alt="" />
              </div>
              <div class="Info">
                <h1>롯데피트인</h1>
                <h2>서울의 한복판인 종로구와 중구와의 경계를 흐르는 하천.</h2>
                <p>주소 : 서울특별시 중구 을지로 264</p>
                <p>전화번호 : 02-6262-4000</p>
                <p>이용시간 : 11:00AM~ 23:00PM (추석,설날 휴무)</p>
                <p>가는방법 : 호텔에서 우측 도보 5분 직진 (사거리 횡단보도 스타벅스 방향 이용)</p>
                <a href="http://www.deoksugung.go.kr" class="btn" target="_blank">홈페이지</a>
              </div>
            </li>
          </ul> 
        </div>


      </div>
    </div>

{% endblock container %}