.gallery_section {
  
	.heading_container {
	  margin-bottom: 30px;
	}
  
	.rowaa {
	  align-items: stretch;
	}
  
	.img-box {
	  display: flex;
	  overflow: hidden;
	  position: relative;
  
	  img {
		min-width: 100%;
		min-height: 100%;
	  }
  
	  a {
		display: flex;
		position: absolute;
		opacity: 0;
		align-items: center;
		justify-content: center;
		width: 55px;
		height: 55px;
		border-radius: 100%;
		background-color: $primary2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: opacity 0.2s;
		color: $white;
		font-size: 24px;
	  }
  
	  &::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($color: $primary1, $alpha: .85);
		transition: all 0.1s;
		transform: translateY(100%);
	  }
  
	  &:hover {
		&::before {
		  transform: translateY(0);
		}
  
		a {
		  opacity: 1;
		}
	  }
	}
  
	.btn-box {
	  display: flex;
	  justify-content: center;
	  margin-top: 45px;
  
	  a {
		@include hero_btn($primary2, $white, 10px, 45px, 5px);
	  }
	}
  }

  .layout_padding {
	padding: 90px 0;
  }




